@font-face {
    font-family: 'museo_slab';
    src: url('fonts/museo-slab-900-webfont.eot');
    src: url('fonts/museo-slab-900-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-slab-900-webfont.woff2') format('woff2'),
         url('fonts/museo-slab-900-webfont.woff') format('woff'),
         url('fonts/museo-slab-900-webfont.ttf') format('truetype'),
         url('fonts/museo-slab-900-webfont.svg#museo_slab900') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'museo';
    src: url('fonts/museo900-regular-webfont.eot');
    src: url('fonts/museo900-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo900-regular-webfont.woff') format('woff'),
         url('fonts/museo900-regular-webfont.ttf') format('truetype'),
         url('fonts/museo900-regular-webfont.svg#Museo900') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans';
    src: url('fonts/museosans_500-webfont.eot');
    src: url('fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_500-webfont.woff2') format('woff2'),
         url('fonts/museosans_500-webfont.woff') format('woff'),
         url('fonts/museosans_500-webfont.ttf') format('truetype'),
         url('fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans';
    src: url('fonts/museosans_700-webfont.eot');
    src: url('fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_700-webfont.woff2') format('woff2'),
         url('fonts/museosans_700-webfont.woff') format('woff'),
         url('fonts/museosans_700-webfont.ttf') format('truetype'),
         url('fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans';
    src: url('fonts/museosans_900-webfont.eot');
    src: url('fonts/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans_900-webfont.woff2') format('woff2'),
         url('fonts/museosans_900-webfont.woff') format('woff'),
         url('fonts/museosans_900-webfont.ttf') format('truetype'),
         url('fonts/museosans_900-webfont.svg#museo_sans900') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans';
    src: url('fonts/museosans-300-webfont.eot');
    src: url('fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosans-300-webfont.woff2') format('woff2'),
         url('fonts/museosans-300-webfont.woff') format('woff'),
         url('fonts/museosans-300-webfont.ttf') format('truetype'),
         url('fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: 300;
    font-style: normal;
}