// font variables
$font:          "museo_sans",sans-serif;
$font_l:        "museo_slab",sans-serif;
$font_m:        "museo",sans-serif;

// color variables
$green:         #95c11f;
$green_light:   #b1ddc0;
$red:           #a71930;
$blue:          #4792c9;
$blue_dark:     #002f5f;
$blur_blue:     #7890a8;
$blue_hover:    #3e54a1;
$grey_dark:     #3b3b3b;
$yellow:        #ffd500;


 

